html, body, #app {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-family: 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar.Collapse {
  color: black;
}

.navbar
{
    padding: 0 !important;
}

#navbarNav {
  background-image: linear-gradient(to right, #27A074,#35BC99);
}

.navbar-brand img
{
    height: 20px;
    padding-left: 20px;
}
.navbar-nav .nav-link
{
    padding: 0 10px;
}
.Navbar .Nav-link a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.asset1 {
  background-image: url(./assets//Images//asset1.png);
  justify-content: flex-end;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo {
  height: 58px;
  float: left;
  /* justify-content: center; */
  /* padding: 30px */
}
.headingColor {
  color: #4a61b6!important;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
